{% extends 'news/base.html' %}
{% load static %}

{% block title %}
    Parolni qayta tiklash
{% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h5>Parolni qayta tiklash uchun email manzilingizni kiriting!</h5>
      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Qayta tiklash uchun so'rov</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}