{% extends 'news/base.html' %}
{% load static %}

{% block title %}
    Foydalanuvchi parolini tiklash
{% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h5>Parolni qayta tiklash uchun email manzilingizni kiriting!</h5>
      {% if validlink %}
      <p>Iltimos, yangi parolni ikki marotaba kiriting:</p>
      <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p>
          <button type="submit" class="btn btn-info">
            Parolni almashtirish
          </button>
        </p>
      </form>
      {% else %}
      <p>Siz noto'g'ri linkdan foydalandingiz, linkning amal qilish muddati o'tgan bo'lishi mumkin.</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}