{% extends 'news/base.html' %}
{% load static %}

{% block title %}
    {{ news.title }}
{% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h5>Yangilikni o'chirish:</h5>
      <form action="" method="post">
        {% csrf_token %}
        <h5>Yangilikni o'chirmoqchimisiz?</h5>
        <p>{{news.title|truncatewords:4}}</p>
        <button type="submit" class="btn btn-danger">O'chirish</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}