{% extends 'news/base.html' %}
{% load static %}
{% load hitcount_tags %}

{% block title %}
{{ news.title }}
{% endblock title %}

{% block content %}
<!-- ##### Post Details Title Area Start ##### -->
<div class="container">
    <div class="post-details-title-area bg-overlay clearfix" style="background-image: url('{{ news.image.url }}')">
        <div class="row h-100">
            <div class="col-12 col-lg-8">
                <!-- Post Content -->
                <div class="post-content h-100 d-flex flex-column justify-content-between">
                    <div>
                        <p class="tag"><span>{{news.category}}</span></p>
                    </div>
                    <div>
                        <p class="post-title">{{ news.title }}</p>
                        <div class="d-flex align-items-center">
                            <span class="post-date mr-30">{{ news.publish_time }}</span>
                            <span class="post-date mr-30">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16"> <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/> <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/> </svg>
                                {% get_hit_count for news %}
                            </span>
                            <span class="post-date mr-30">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-text" viewBox="0 0 16 16"> <path d="M2.678 11.894a1 1 0 0 1 .287.801 11 11 0 0 1-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 0 1 .71-.074A8 8 0 0 0 8 14c3.996 0 7-2.807 7-6s-3.004-6-7-6-7 2.808-7 6c0 1.468.617 2.83 1.678 3.894m-.493 3.905a22 22 0 0 1-.713.129c-.2.032-.352-.176-.273-.362a10 10 0 0 0 .244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9 9 0 0 1-2.347-.306c-.52.263-1.639.742-3.468 1.105"/> <path d="M4 5.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8m0 2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5"/> </svg>
                                {{ comments_count }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Post Details Title Area End ##### -->

<!-- ##### Post Details Area Start ##### -->
<section class="post-news-area section-padding-100-0 mb-70">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Post Details Content Area -->
            <div class="col-12">
                <h5 class="mb-30">{{ news.title }}</h5>
                <p>{{ news.body }}</p>
                <span>{{ news.publish_time }}</span>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- ##### Post Details Area End ##### -->

{% if request.user.is_authenticated and request.user.is_superuser %}
<div class="container">
    <div class="row">
        <div class="col">
            <a href="{% url 'news_edit' news.slug %}" class="btn btn-info">Tahrirlash</a> |
            <a href="{% url 'news_delete' news.slug %}" class="btn btn-danger">O'chirish</a> |
            <a href="{% url 'news_create' %}" class="btn btn-success">Yangi qo'shish</a>
        </div>
    </div>
</div>
{% endif %}

<hr>

<div class="container mb-4">
    {% for comment in comments %}
    <div class="row mt-3">
        <div class="col">
            <p class="mb-0">{{ comment.created_time }}</p>
            <span style="font-weight: 600;">
                {{ comment.user|capfirst }}
            </span>:
            <span class="text-muted">
                {{ comment.body }}
            </span>
        </div>
    </div>
    {% endfor %}
</div>

{% if user.is_authenticated %}
<div class="container my-4">
    <div class="row">
        <div class="col">
            <form method="post" style="background-color: #E9ECEF; border-radius: 10px;" class="p-3">
                {% csrf_token %}
                <textarea name="body" id="id_body" placeholder="Izoh qoldirish..." class="w-100 form-control"
                    style="border:none; background: transparent;"></textarea>
                <div class="d-flex justify-content-between align-items-end mt-2 px-2">
                    <h6 id="box" class="mb-0 text-muted"></h6>
                    <button type="submit" class="btn btn-primary">Yuborish</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% else %}
<div class="container my-4">
    <div class="row">
        <div class="col">
            <div style="background-color: #E9ECEF; border-radius: 10px;" class="p-3">
                <span class="fs-3">
                    Izoh qoldirish uchun tizimga kirishingiz kerak! &nbsp;&nbsp;&nbsp;- <a href="{% url 'login' %}" class="btn btn-link">Kirish</a>
                </span>
            </div>
        </div>
    </div>
</div>
{% endif %}


<script>
    const now = new Date();
    document.getElementById('box').innerHTML = `${now.toLocaleDateString()}`;
</script>

{% endblock content %}